# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://admin:1FNdNauryuLKfVgXSvBhjjr5n7JDuBWR@dpg-d72epnffte5s73duv7mg-a.oregon-postgres.render.com/my_store_t07p
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=ecommerce_db
# DATABASE_USER=postgres
# DATABASE_PASS=hichamzouhbi990

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Admin
ADMIN_SECRET_KEY=123456
